# Entornos virtuales
venv/
.venv/
env/

# Caché de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de registro / Logs
*.log
laboratorio_usuarios.log

# Archivos de configuración de editores / IDEs (opcional pero recomendado)
.vscode/
.idea/

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Variables de entorno 
.env